.bigCounter{
    text-align: center;
    background: black;
}

.bigCounter div{
    display: inline-block;
    font-size: 200px;
    line-height: 200px;
    background-color: #101010;
    color: white;
    padding: 5px;
    margin: 20px;
    border-radius: 5%;
}
.calendar{
    background-color: white;
}